@charset "UTF-8";

/* CSS Document */

h1 {
    margin-bottom: 100px;
}

p {
    text-indent: 2em;
}

strong {
    font-weight: 900 !important;
    color: #FF9900 !important;
}

.book-body ul {
    padding-left: 4em !important;
}

.color-theme-0 .book-body h1 {
    color: #333333 !important;
}

.color-theme-0 .book-body h2 {
    color: #333333 !important;
}

.color-theme-0 .book-body h3 {
    color: #333333 !important;
}

.color-theme-0 .book-body h4 {
    color: #333333 !important;
}

.color-theme-0 .book-body h5 {
    color: #333333 !important;
}

.color-theme-0 .book-body h6 {
    color: #333333 !important;
}

.color-theme-2 .book-body h1 {
    color: #EEEEEE !important;
}

.color-theme-2 .book-body h2 {
    color: #EEEEEE !important;
}

.color-theme-2 .book-body h3 {
    color: #EEEEEE !important;
}

.color-theme-2 .book-body h4 {
    color: #EEEEEE !important;
}

.color-theme-2 .book-body h5 {
    color: #EEEEEE !important;
}

.color-theme-2 .book-body h6 {
    color: #EEEEEE !important;
}

ul p {
    text-indent: 0;
}

blockquote>p:first-child {
    text-indent: 0;
}

blockquote {
    padding-bottom: 15px !important;
}

blockquote.info strong {
    color: #42acf3 !important;
}

blockquote.info warning {
    color: #f0ad4e !important;
}

blockquote.info danger {
    color: #d9534f !important;
}

blockquote.info error {
    color: #50af51 !important;
}

a>code:first-child {
    border: 1px solid #3eb1d0 !important;
}


/*FAQ 页面样式*/

#faq+ul>li {
    list-style-type: none;
}

#faq+ul .answer {
    color: #00FF00 !important;
}

#faq+ul .question {
    position: relative;
    color: #FF0000 !important;
}

#faq+ul .question .q-icon {
    display: inline-block;
    width: 27px;
    height: 100%;
    position: absolute;
    left: -100%;
    text-align: center;
}


/* section 插件*/

.color-theme-2 sec .panel {
    border: 1px solid #3eb1d0 !important;
}

.color-theme-2 sec .panel .panel-heading b {
    color: #EEEEEE;
}